@model CoffeeInvoice.Models.RegisterModel

@{
    ViewBag.Title = "Register";
}

<h2>Create new user</h2>
<p>
    User register. 
</p>
<p>
    Password should be more than @Membership.MinRequiredPasswordLength characters.
</p>


@using (Html.BeginForm()) {
    @Html.ValidationSummary(true, "")
    <div>
        <fieldset>
            <legend>User Information</legend>

            <div class="clearfix">
                @Html.LabelFor(m => m.UserName)
                <div class="input">
                    @Html.TextBoxFor(m => m.UserName)
                    @Html.ValidationMessageFor(m => m.UserName)
                </div>
            </div>

            <div class="clearfix">
                @Html.LabelFor(m => m.Email)
                <div class="input">
                    @Html.TextBoxFor(m => m.Email)
                    @Html.ValidationMessageFor(m => m.Email)
                </div>
            </div>

            <div class="clearfix">
                @Html.LabelFor(m => m.Password)            
                <div class="input">
                    @Html.PasswordFor(m => m.Password)
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
            </div>

            <div class="clearfix">
                @Html.LabelFor(m => m.ConfirmPassword)
                <div class="input">
                    @Html.PasswordFor(m => m.ConfirmPassword)
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                </div>
            </div>

            <div class="actions">
                <input type="submit" class="btn primary" value="Register" />
            </div>
        </fieldset>
    </div>
}
