@model TSummary
@{
    var chart_name = Model.GetHashCode();  
    }

<div class="chart_summary">
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load("visualization", "1", { packages: ["corechart"] });
        google.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Task');
            data.addColumn('number', 'Hours per Day');
            data.addRows(3);
            data.setValue(0, 0, 'Benefit');
            data.setValue(0, 1, @Model.Benefit);
            data.setValue(1, 0, 'Product Price');
            data.setValue(1, 1, @Model.Expense);
        	data.setValue(2, 0, 'Transport');
			data.setValue(2,1,@Model.Transport);
            var chart = new google.visualization.PieChart(document.getElementById('@chart_name'));
            chart.draw(data, { width: 350, height: 150, title: 'Benefit vs Product Expense vs Transport' });
        }
    </script>
    <div id="@chart_name"></div>
</div>

<div class="summary">
    <h4>
    @String.Format("{0:d}", Model.From)  -  @String.Format("{0:d}", Model.To)         
    </h4>
	<p>
        <strong>NET Benefit:</strong> <span class="income big">@String.Format("{0:C}", Model.Benefit)</span>
                
        <br />
		
        <strong>NET Expense:</strong><span class="expense big"> @String.Format("{0:C}", Model.Expense)</span>
        <br />
		<strong>Transport:</strong> <span class="expense big"> @string.Format("{0:C}", Model.Transport)</span>
        <hr />
        <strong>Benefit:</strong> 
        <span class=expense>
        @{Html.RenderPartial("Money", Model.Benefit);}
        </span>    
        <br />
        <strong>VAT Balance:</strong> @String.Format("{0:C}", Model.Benefit)
    
    </p>
</div>