@{
	ViewBag.Title = "Jessica Invoice";
}

<p style="float:right">
	@Html.ActionLink("[+] Create Single Transtraction", "Create", "Transaction", null, new { @class = "btn primary" })
	@Html.ActionLink("[+] Create Combo Transaction", "Create", "ComboTransaction", null, new { @class="btn primary"})
   @* @Html.ActionLink("[+] Create new Invoice", "Create", "Invoice", null, new { @class = "btn primary" })
    @Html.ActionLink("[+] Create new expense", "Create", "Purchase", null, new { @class = "btn primary" })*@
</p>

<h2>Summary</h2>

<table width="100%" class="dashboard">
<tr>
    <td width="50%">
        <h3>@Resources.Print.TransactionOverdue</h3>      
		@*@{Html.RenderAction("OverDueTransaction", "Transaction");}*@
		@{Html.RenderAction("GetOverdueTransaction", "Reports");}
       @* <h3>Unpaid invoices</h3>
        @{Html.RenderAction("UnPaidInvoices","Invoice");}*@

		<h3>Latest Transatcions</h3>
		@*@{Html.RenderAction("LatestTransactions", "Transaction");}*@
		@{Html.RenderAction("GetLatestTransaction", "Reports");}
		
       @* <h3>Latest proposals</h3>
        @{Html.RenderAction("LatestProposals","Invoice");}*@
    </td>
    <td>
		<h3>Most Popular Products</h3>
		@{Html.RenderAction("MostPopularProducts", "Product", new { top = 10 });}

		<h3>Most Top 10 Customers</h3>
		@{Html.RenderAction("MostTop10Customers", "Customer", new { top = 10 });}
       @* <h3>Recent purchases</h3>
        @{Html.RenderAction("RecentPurchases","Purchase", new {top=5});}*@
	</td>
</tr>
<tr>
	<td>
        <h3>This Quarter</h3>
        <div style="padding:20px;">        
        @*@{Html.RenderAction("ThisQuarterSummary", "Reports");}*@
			@{Html.RenderAction("ThisQuarterTransSummary", "Reports");}
        </div>
	</td>
	<td>
        <h3>This year</h3>
		@{Html.RenderAction("TransYearSummary", "Reports", new { id = DateTime.Now.Year });}
       @* @{Html.RenderAction("YearSummary", "Reports", new { id = DateTime.Now.Year });}*@

        <h3>Last year</h3>
		@{Html.RenderAction("TransYearSummary", "Reports", new { id = DateTime.Now.Year -1 });}
        @*@{Html.RenderAction("YearSummary", "Reports", new { id = DateTime.Now.Year - 1 });}*@

		<h3>Get Customer Web API Test</h3>
		@{Html.RenderAction("GetCustomer");}
    </td>
</tr>
</table>
